---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import sc_pano from "../img/sc_pano.jpeg";
---

<Layout title="About MuHSiC">
  <p>
    The <strong>Multilingual Hispanic Speech in California (MuHSiC)</strong> corpus
    is a collection of audio-recordings of Spanish-English bilinguals living in California.
    It is a robust and linguistically rich oral corpus of bilingual Spanish-English
    speech samples culled from naturalistic conversations among diverse social profiles
    and regional origins. The conversations cover a variety of topics, from (im)migration
    stories and traditional folktales to culinary recipes and instructions for speaking
    Spanglish. Speech samples were audio-recorded in high-quality, uncompressed digital
    formats that allow for the corpus to be used for analysis of a wide range of
    linguistic features. Data collection was carried out throughout California and
    was coordinated in three different hubs -Berkeley, Los Angeles, and Santa Cruz-
    from speakers of diverse ages and social profiles.
  </p>

  <figure>
    <Image
      style="width: 100%; object-fit: cover;"
      src={sc_pano}
      alt="green open field and blue sky with cloud"
      width={1920}
      height={743}
    />
  </figure>
</Layout>
