---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import type { Session } from "@auth/core/types";

const files = [
  {
    filename: "MuHSiC Interviewer Manual",
    link: "/material/0_Interviewer-manual.pdf",
  },
  {
    filename: "English Sociolinguistic Interview Questions",
    link: "/material/1_Sociolinguistic-interview-questions-English.pdf",
  },
  {
    filename: "Spanish Sociolinguistic Interview Questions",
    link: "/material/2_Sociolinguistic-interview-questions-Spanish.pdf",
  },
  {
    filename: "Interviewer Background Form",
    link: "/material/3_Interviewer-background.pdf",
  },
  {
    filename: "Interviewer Field Notes",
    link: "/material/4_Interviewer-field_notes.pdf",
  },
  {
    filename: "Cuestionario Sociodemográfico",
    link: "/material/5_Cuestionario-sociodemogr%C3%A1fico.pdf",
  },
  {
    filename: "BLP (English-Spanish)",
    link: "/material/6a_BLP-ENGLISH-SPANISH.pdf",
  },
  {
    filename: "BLP (Spanish-English)",
    link: "/material/6b_BLP-ESPA%C3%91OL-INGL%C3%89S.pdf",
  },
    {
    filename: "WAV files - 16 kHz",
    link: "/wav_redacted.zip",
  },
];


const session: Session | null = await getSession(Astro.request);

const user: { role?: string; name?: string; email?: string } | undefined =
  session?.user as { role?: string; name?: string; email?: string };

const role: string = user?.role || "guest";
---

<Layout>
  <!-- {
    role === "researcher" ? (
      <div>
        <h1>Download Links to Full Corpus</h1>
        <ul>
          <li>
            <a href="/api/download?file=wav">
              WAV files - full corpus audio (zip)
            </a>
          </li>
          <li>
            <a href="/api/download?file=pdf">
              PDF files - full corpus transcripts (zip)
            </a>
          </li>
          <li>
            <a href="/api/download?file=docx">
              DOCX files - full corpus transcripts (zip)
            </a>
          </li>
          <li>
            <a href="/api/download?file=parquet">
              Parquet acoustics spreadsheet of complete corpus
            </a>
          </li>
        </ul>
      </div>
    ) : null
  } -->
  <h1>Download</h1>
  <ul>
    {
      files.map((file) => (
        <li>
          <a href={file.link}>{file.filename}</a>
        </li>
      ))
    }
  </ul>
</Layout>