---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Overview">
  <div class="justify">
    <div class="grid-2" style="line-height:1.2rem; display:grid; grid-template-columns:2.5fr 1fr; gap:2rem; align-items:start;">
      <p>
        The <strong>Multilingual Hispanic Speech in California (MuHSiC)</strong> corpus
        is a collection of audio-recordings of Spanish-English bilinguals living in
        California. It is a robust and linguistically rich oral corpus of bilingual
        Spanish-English speech samples culled from naturalistic conversations among
        diverse social profiles and regional origins. The conversations cover a variety
        of topics, from (im)migration stories and traditional folktales to culinary
        recipes and instructions for speaking Spanglish. Speech samples were audio-recorded
        in high-quality, uncompressed digital formats that allow for the corpus to
        be used for analysis of a wide range of linguistic features. Data collection
        was carried out throughout California and was coordinated in three different
        hubs —Berkeley, Los Angeles, and Santa Cruz—from speakers of diverse ages and
        social profiles.
      </p>
        <img
        src="/img/dailycal.png"
        alt="Image of UCSC students doing research"
        width="450"
        height=auto
        style="border-radius:16px;"
        id="data_processing.jpg"
        />
    </div>
    <p>The MuHSiC corpus was created with the following objectives in mind:</p>
    <ul>
      <li>
        Provide speech materials to language classrooms, in addition to
        research, to reinforce the legitimacy of local varieties spoken by
        Spanish-English bilinguals in California.
      </li>
      <li>
        Provide real examples of the discourse features and the types of
        dialectal variation that exist in varieties of Spanish and English
        spoken in California.
      </li>
      <li>
        Provide high-quality audio-recordings that can be used for the analysis
        of linguistic features at multiple levels of grammatical domain
        (phonetics, phonology, morphosyntax, pragmatics, etc.).
      </li>
      <li>
        Provide richly transcribed and tagged data set that enables the
        correlation of linguistic, geographic, and demographic factors.
      </li>
      <li>
        Promote collaboration between researchers and educators to determine
        essential corpus functionalities for language learning and to identify
        types of speech data in the corpus that are most easily integratable
        into Spanish-language classrooms.
      </li>
      <li>
        Provide an openly accessible corpus of language data necessary to
        sustain abundant doctoral, masters, and undergraduate-level theses and
        research papers, in addition to various language-related investigations
        by faculty.
      </li>
      <li>
        Provide researchers, students, and instructors access to a user
        interface that allows them to search a database of recordings, using
        keywords related to specific discourse topics, sociolinguistic
        attributes, and grammatical features. This searchable corpus of data
        that will serve as a digital resource for researchers, educators,
        students, and Californians who speak Spanish as a first or second
        language.
      </li>
    </ul>
    <p>
      The Corpus documents Spanish and English spoken by Spanish-English
      bilinguals throughout California, thus giving a clearer picture of the
      state’s multilingual reality. The main method of data collection is the
      sociolinguistic interview, consisting of roughly 90-minute-long
      voice-recorded sessions with adult bilingual speakers of Spanish and
      English (over 18 years of age) in California. Notably, the interviews
      elicit speech in both Spanish and English, permitting a truly
      comprehensive analysis of Spanish speech patterns in relation to those of
      English. This crucially obviates the need for monolingual benchmark
      comparisons (e.g. the typical and problematic comparison between a
      bilingual’s Spanish and that of a monolingual Spanish speaker from a
      different country), and instead more appropriately grounds the empirical
      study of bilingualism within a bilingual context. After the interviews,
      the participants completed socio-demographic and language background
      questionnaires in written form. The speech samples for each speaker were
      recorded using a high-quality head-mounted microphone and portable audio
      recorder. The audio files were edited, coded for speaker information, and
      annotated with suppressible linguistic transcriptions that allow users to
      quickly search the corpus based on discourse topics, grammatical features,
      or speaker demographics.
    </p>
    <p>
      The Corpus will be expanded as more data is collected and additional
      supplemental features are developed. This is an ongoing project. We invite
      collaborations with other institutions in California, thus allowing for
      the collection of a broader, system-wide sampling of bilingual speech in
      California.
    </p>
  </div>
</Layout>
