---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import SafeEmail from "@/components/SafeEmail.astro";
import People from "@/components/People.astro";

import hollywood from "../img/hollywood.jpeg";
---

<Layout title="Project Team">
  <h2 style="background-color:#ffc500">Principal investigators</h2>
  <div>
    <p>
      <strong>Dr. Mark Amengual</strong><br />Department of Languages and
      Applied Linguistics<br />University of California, Santa Cruz<br />
      <SafeEmail email="amengual@ucsc.edu" />
    </p>
    <p>
      <strong>Dr. Ji Young Kim</strong><br />Department of Spanish and
      Portuguese<br />University of California, Los Angeles<br />
      <SafeEmail email="jiyoungkim@ucla.edu" />
    </p>
    <p>
      <strong>Dr. Justin Davidson</strong><br />Department of Spanish and
      Portuguese<br />University of California, Berkeley<br />
      <SafeEmail email="justindavidson@berkeley.edu" />
    </p>
  </div>
  <h2 style="background-color:#ffc500">Research Assistants</h2>
  <p>
    Research assistants have been trained on sociolinguistic interview methods,
    transcription review, and other details of the MuHSiC corpus. Our research
    assistants are an integral part of this project.&nbsp;
  </p>
  <p><strong>UC Santa Cruz</strong></p>
  <p>
    <em>Undergraduate students</em>: <People
      people={[
        "Miranda Aguirre Bernal",
        "Abbie Tafolla",
        "Erika García Aceves",
        "Maritza Ortíz Ríos",
        "Claire Skelly",
        "Cali Smith",
        "Mariana Belmontes",
        "Kaya Aguirre",
        "Andrea Solís",
        "Cassandra Ponce-Ventura",
        "Silvia Íñiguez",
        "Adam Cooperman",
        "Damaris García",
        "Dacia Van Wormer",
        "Joscelyn Osorio",
        "Karen Hinojosa",
        "Rosario Méndez",
        "Pilar Zapien",
        "Eleanor Garrison",
      ]}
    />.
  </p>
  <p><strong>UCLA</strong></p>
  <p><em>Graduate student</em>: Jesús Duarte</p>
  <p>
    <em>Undergraduate students</em>:
    <People
      people={[
        "Raúl Acevedo",
        "Laura Aquino",
        "Jacob Bower",
        "Valeria Carreón",
        "Itzel Cerecedo",
        "Mayra Gallo",
        "Emiliano Galvéz",
        "Karen Juárez",
        "Celia Kebbeh",
        "Paola Medina",
        "Leslie Merino",
        "Alondra Ornelas Pérez",
        "Kimberly Pérez",
        "Alejandra Pulido",
        "Breanna Reyes",
        "Jazmine Sánchez",
        "Erick Stephens",
        "Salma Valenzuala",
        "Diana Vela",
        "Alexandria Velasco",
      ]}
    />.
    <p><strong>UC Berkeley</strong></p>
    <p>
      <em>Graduate students</em>:
      <People
        people={[
          "Verónica Grajeda",
          "Nikolai Schwarz",
          "Julian Vargo",
          "Anna Knall",
        ]}
      />.
    </p>
    <p>
      <em>Undergraduate students</em>:
      <People
        people={[
          "Daisy Avila",
          "Samantha Carrillo",
          "María Castillo Moreno",
          "Maria Ceja Ayala",
          "Estefani Corona",
          "Alison Galindo",
          "Jocelyn Gómez",
          "Kathleen Gómez",
          "Ariana Gonzales",
          "Averie Haneul Burke",
          "Michelle Jesús Hernández",
          "Celeste Hyun Ah Kim",
          "Gabby Laurente",
          "Nicole Leon Loya",
          "Luz Limón",
          "Zaira Linares Lemus",
          "Hugo López Muñoz",
          "Selena Maldonado-Pérez",
          "Erika Matsunaga",
          "Belén Mendoza",
          "Giuseppe Mendoza Torres",
          "Katherine Menéndez",
          "Sage Miller",
          "Annika Mills",
          "Yuliana Pineda",
          "Francisco Ramirez-Cisneros",
          "Yeny Ramos Henríquez",
          "Sofía Reynoso Sandoval",
          "Stephanie Robles Ángel",
          "Ana Cecilia Rodríguez",
          "Francis Ruiz-Marenco",
          "Edward Rumbos-Pérez",
          "Camilla Marie San Juan",
          "Fátima Sánchez",
          "Gregvi Vílchez",
        ]}
      />.
</Layout>
