---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
import { SignIn } from "auth-astro/components";
import { Image } from "astro:assets";
---

<style>
  nav ul {
    position: relative;
  }
  nav ul ul {
    position: absolute;
    z-index: 1000;
    background: #003c6c;
  }
</style>

<nav>
  <a id="site-title" href="/" style="line-height: 0;">
    <Image
      src="/img/banner.jpg"
      alt="MuHSiC logo"
      width={236}
      height={83.5}
      densities={[1, 2]}
    />
  </a>
  <details>
    <summary>Menu</summary>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/about">▾About</a>
        <ul>
          <li>
            <a href="/about/overview">Overview</a>
          </li>
          <li>
            <a href="/about/project-team">Project Team</a>
          </li>
        </ul>
      </li>
      <li><a href="/corpus">Corpus</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/cite-the-corpus">Cite the Corpus</a></li>
      <li><a href="/links-to-other-corpora">Links to Other Corpora</a></li>
      <li>
        {
          session?.user ? (
            <a href="/profile">Profile</a>
          ) : (
            <SignIn provider="mu-h-si-c-portal">Log In</SignIn>
          )
        }
      </li>
    </ul>
  </details>
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/about">▾About</a>
      <ul>
        <li>
          <a href="/about/overview">Overview</a>
        </li>
        <li>
          <a href="/about/project-team">Project Team</a>
        </li>
      </ul>
    </li>
    <li><a href="/corpus">Corpus</a></li>
    <li><a href="/download">Download</a></li>
    <li><a href="/cite-the-corpus">Cite the Corpus</a></li>
    <li><a href="/links-to-other-corpora">Links to Other Corpora</a></li>
    <li>
      {
        session?.user ? (
          <a href="/profile">Profile</a>
        ) : (
          <SignIn provider="mu-h-si-c-portal">Log In</SignIn>
        )
      }
    </li>
  </ul>
</nav>
