---
interface Props {
  email: string;
}

const { email } = Astro.props;
const [username, domain] = email.split("@");
---

<span>
  {username}<img
    src="/img/at_logo.png"
    alt="at"
    width="16"
    height="16"
    style="position: relative; bottom: -2px;"
  />{domain}
</span>