All users of the MuHSiC corpus should abide by the following terms and
conditions:
<ul>
  <li>
    Respect the participants (interviewers and interviewees) in this corpus and
    respect the mission of the corpus, namely to document and ultimately
    legitimize multilingual speech practices. Users are accordingly obliged to
    be mindful of how their engagement with the corpus (in classrooms,
    conference presentations, and publications) will ultimately reflect on the
    speakers and their languages. In particular, users should avoid disparaging
    comments and evaluations of language use(rs) that reinforce harmful,
    illegitimate prescriptive language ideologies.
  </li>
  <li>
    Maintain the confidentiality of interviewers and interviewees. While the
    MuHSiC research team has completed a protocol of removing personally
    identifiable information from speech recordings, the use of pseudonyms or
    codes is advised when presenting, publishing, or otherwise disseminating
    scholarship using the corpus.
  </li>
  <li>
    Cite the corpus using the format appearing above when presenting,
    publishing, or otherwise disseminating scholarship involving the corpus.
    Citing the corpus facilitates more researchers learning about and accessing
    the corpus in the future.
  </li>
  <li>
    Kindly share research products (presentations, papers, etc.) using the
    corpus with the MuHSiC PIs, so that we may include these products on the
    website.
  </li>
</ul>
